src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="mf-enter-order-implementation" doc:id="8451f501-040d-4da5-9aff-1a8e802cd8b1" >
		<logger level="INFO" doc:name="mf-enter-order-implementation flow started" doc:id="42764828-38c4-4477-ae31-feea398d795d" message="mf-enter-order-implementation flow started"/>
		<ee:transform doc:id="db3ac12c-c936-4acd-92be-3a1cb19afbe0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [EnterOrder_v5:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="mf-enter-order-implementation flow ended" doc:id="c249ab1b-a86d-4f3b-9275-d08c46d1bfbd" message="mf-enter-order-implementation flow ended"/>
	</flow>
	<flow name="mf-get-quote-implementation" doc:id="0f54b91a-6664-427e-8cf7-e21bd01057e7" >
		<logger level="INFO" doc:name="mf-get-quote-implementation flow started" doc:id="cca8a894-4335-46d6-afda-747dcc52adf1" message="mf-get-quote-implementation flow started"/>
		<ee:transform doc:name="DW SET quote incoming payload" doc:id="e8fa246d-9ee8-4adf-9252-207f16398935" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwlScripts/incomingPayload.dwl" variableName="incomingQuotePayload" />
				<ee:set-variable resource="dwlScripts/actualPayload.dwl" variableName="actualPayload" />
			</ee:variables>
		</ee:transform>
		<json:validate-schema doc:name="Get Quote Request Validation" doc:id="0f9967aa-8631-45b7-adb6-402e85ca75bf" schema="/schemas/getQuoteJsonSchemaValidation.json">
			<json:content ><![CDATA[#[vars.incomingQuotePayload]]]></json:content>
		</json:validate-schema>
		 <scatter-gather doc:name="Scatter-Gather" doc:id="7d1ecf4c-713b-4cb2-96d9-d711daa888df">
			<route>
				<flow-ref doc:name="pf-sfdc-create-opportunity" doc:id="b3b622e5-97a1-4b6a-992a-3c592d44b0c6" name="pf-sfdc-create-opportunity" target="opportunityResponse" />
			</route>
			<route>
				<flow-ref doc:name="pf-query-pricebook-details" doc:id="ac0f17ea-b74c-4022-99d7-d6364a0e6d66" name="pf-query-pricebook-details" target="priceBookEntryResponse" />
			</route>
		</scatter-gather>
		<flow-ref doc:name="sf-create-quotes" doc:id="9721cd8b-16a5-4e2c-8fe9-d3582df13f2b" name="sf-create-quotes" />
		<choice doc:name="Choice" doc:id="0b8aa79b-0f55-46b1-90b6-bb8ca87748f4">
			<when expression="#[payload[0].success ~= true]">
				<flow-ref doc:name="pf-query-quote-quoteitems" doc:id="8f95d511-7d7b-4ea0-af7d-62666306d952" name="pf-query-quote-quoteitems" />
				<ee:transform doc:name="DW SET quote response" doc:id="e812b713-0939-4a73-b6ac-dae43a2d75d0">
			<ee:message>
				<ee:set-payload resource="dwlScripts/quoteResponse.dwl" />
			</ee:message>
		</ee:transform>
			</when>
			<when expression="#[vars.errorResponse.errorNumber ~= 1]">
				<ee:transform doc:name="Transform Message" doc:id="a9a344ca-b64c-4fca-a31b-1918b028fea0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
    GetQuote_v3Response: {
            OrderedLines: {
				Error: {
					ErrorNumber: 1,
					ErrorDescription: if(not isEmpty(vars.errorResponse.errorMessage)) vars.errorResponse.errorMessage else ""
				}
		}
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Set Delete Quote Payload" doc:id="f890adce-69bf-4152-ab3c-d47f076b5cfb">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.quoteResponse[0].id]]></ee:set-payload>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="errorResponse"><![CDATA[%dw 2.0
output application/java
---
{
	errorCode: "1",
	errorMessage: "Create Quote Item Operation Failed"
}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
				<flow-ref doc:name="pf-sfdc-delete-record-flow" doc:id="620b716e-baef-45e8-bc4b-7c24418715a7" name="pf-sfdc-delete-record-flow" />
				<set-payload value="#[vars.opportunityResponse[0].id]" doc:name="Set Delete Opportunity Payload" doc:id="4af6a35c-003a-4455-84db-2642d62cd2ea" mimeType="application/java" />
				<flow-ref doc:name="pf-sfdc-delete-record-flow" doc:id="8236e763-b824-4c36-9574-0fb617db0d10" name="pf-sfdc-delete-record-flow" />
				<ee:transform doc:name="Transform Message" doc:id="56924b97-4010-429b-9a89-97beb2b9bcfd">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
    GetQuote_v3Response: {
            OrderedLines: {
				Error: {
					ErrorNumber: 1,
					ErrorDescription: if(not isEmpty(vars.errorResponse.errorMessage)) vars.errorResponse.errorMessage else ""
				}
		}
	}
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
			</otherwise>
		</choice></flow>
	<flow name="pf-sfdc-delete-record-flow" doc:id="fa05673b-377f-4c0b-8e75-648a1e278e48" >
		<logger level="INFO" doc:name="pf-sfdc-delete-record-flow flow started" doc:id="a55db6aa-20fe-4532-aa44-03de980f7128" message="pf-sfdc-delete-record-flow flow started"/>
		<salesforce:delete doc:name="Delete Sfdc Record" doc:id="832f590f-897c-4f2a-a334-0f29ba0dd721" config-ref="Salesforce_Config">
			<salesforce:delete-ids ><![CDATA[#[[payload]]]]></salesforce:delete-ids>
		</salesforce:delete>
		<logger level="INFO" doc:name="pf-sfdc-delete-record-flow flow ended" doc:id="e3f57280-7f36-42ed-a798-d46cf7a2a7b6" message="pf-sfdc-delete-record-flow flow ended"/>
	</flow>
	<flow name="mf-get-advance-ship-notice-implementation" doc:id="d1a720db-e2ea-495f-aa7f-21516a3c945f" >
		<logger level="INFO" doc:name="mf-get-advance-ship-notice-implementation flow started" doc:id="0a0e8c82-8d2c-4ed8-b079-54bfce61415d" message="mf-get-advance-ship-notice-implementation flow started"/>
		<ee:transform doc:id="5f818fc8-9c8e-473b-be52-4c7289e9287c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [AdvanceShipNoticeGet_v2:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="mf-get-advance-ship-notice-implementation flow ended" doc:id="67f2ab1e-4b86-4f6b-bece-f6464f18f9e8" message="mf-get-advance-ship-notice-implementation ended"/>
	</flow>
	<flow name="pf-query-pricebook-details" doc:id="df256701-13d0-45fe-9917-e377d56006e4" >
		<logger level="INFO" doc:name="pf-query-pricebook-details flow started" doc:id="d13c45b5-b2f1-45f2-9cd9-a6952fc95629" message="pf-query-pricebook-details flow started"/>
		<salesforce:query doc:name="Query PriceBookEntry Details" doc:id="7a08bf7b-9eba-46c3-a2b9-08fe4fb863f1" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >#[p('sfdc.product.pricebook.pricebookentry.query1') ++ vars.actualPayload.items.OrderItem.PartNo ++ p('sfdc.product.pricebook.pricebookentry.query2')]</salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="pf-query-pricebook-details flow ended" doc:id="b98282e7-4d77-4d55-bf3b-933cb6e4a088" message="pf-query-pricebook-details flow ended"/>
	</flow>
	<flow name="pf-sfdc-query" doc:id="fa5af893-f550-42d7-abe3-dbda6ad4f1f8" >
		<http:listener doc:name="Listener" doc:id="741b1318-c18b-4f5e-875c-4af51df3d732" config-ref="HTTP_Listener_config" path="/query"/>
		<logger level="INFO" doc:name="pf-sfdc-query flow started" doc:id="54707095-3dfc-4763-b4ab-f45288f6df74" message="pf-sfdc-query flow started"/>
		<salesforce:query doc:id="698796b6-361f-4125-87ee-2b8cd1965cab" config-ref="Salesforce_Config" doc:name="Query SFDC">
			<salesforce:salesforce-query >#[&quot;Select Id,Product2.Id, Product2.ProductCode, PriceBook2.Id,PriceBook2.Name,UnitPrice from PriceBookEntry where Product2.ProductCode IN ('HaaS-Test1', 'DTEN55G2WAR2') and PriceBook2.Name = 'MSRP' and CurrencyIsoCode='USD'&quot;]</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="SFDC Query Response" doc:id="0cd0be64-0228-4858-aa9f-004642867ec8" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="pf-sfdc-query flow ended" doc:id="2905dab5-6b2e-48bd-8c28-907671981904" message="pf-sfdc-query flow ended"/>
	</flow>
	
	<flow name="pf-sfdc-create-opportunity" doc:id="02b411a1-40cd-46e1-8eec-cc0d62f202d9" >
		<logger level="INFO" doc:name="pf-sfdc-create-opportunity flow created" doc:id="f2284e48-b922-4475-9fc4-0a1e90511aad" message="pf-sfdc-create-opportunity flow created"/>
		<ee:transform doc:name="Create Opportunity Request" doc:id="d4055ebe-cdc2-4ecd-8eac-2ebc7afc9f35" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/opportunityRequest.dwl" />
			
</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create Opportunity" doc:id="e11295db-1ccc-4920-bef2-ca149f738031" config-ref="Salesforce_Config" type="Opportunity"/>
		<ee:transform doc:name="Create Opportunity Response" doc:id="9051cca3-ac28-453a-b303-505d9487cb83" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="pf-sfdc-create-opportunity flow ended" doc:id="8cb97e42-6dc8-4fb4-89d3-8fad311f379b" message="pf-sfdc-create-opportunity flow ended"/>
	
</flow>
	<sub-flow name="pf-query-pricebook-product" doc:id="815494bb-4b1c-4af3-92ee-bac3c36a4d12" >
		<logger level="INFO" doc:name="pf-query-pricebook-product flow started" doc:id="1af3b8b2-767d-4832-b186-9c2e37872997" message="pf-query-pricebook-product flow started"/>
		<salesforce:query doc:name="Query" doc:id="af838e9b-c275-4d0e-8f35-8e73553570ce" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >#[output application/java --- payload]</salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="pf-query-pricebook-product flow ended" doc:id="6139e97a-d731-411f-8e93-95ca5f0ebc07" message="pf-query-pricebook-product flow ended"/>
	</sub-flow>
	
	<flow name="pf-query-quote-quoteitems" doc:id="35273ccc-ec37-4237-bd8b-967c49c3d807" >
        <http:listener doc:name="Listener" doc:id="d46c49bb-1119-4e68-aaec-d8896085714d" config-ref="HTTP_Listener_config" path="/quote"/>
        <logger level="INFO" doc:name="pf-query-quote-quoteitems flow started" doc:id="549541aa-bf71-4539-b0ea-97110ff322fd" message="pf-query-quote-quoteitems flow started"/>
        <salesforce:query doc:name="Query Quote Quote Items" doc:id="e96f910c-ea92-4367-825e-54fc221fc672" config-ref="Salesforce_Config">
            <salesforce:salesforce-query >#[p('sfdc.create.quote.query') ++ vars.quoteResponse[0].id ++ &quot;'&quot;]</salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Transform Message" doc:id="38632f92-b141-4e0a-a321-65a739ff1576" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="pf-query-quote-quoteitems flow ended" doc:id="2d97b75a-b0eb-47a6-9f6d-de10f001dbfa" message="pf-query-quote-quoteitems flow ended"/>
	</flow>
</mule>
