src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="mf-enter-order-implementation" doc:id="8451f501-040d-4da5-9aff-1a8e802cd8b1" >
		<logger level="INFO" doc:name="mf-enter-order-implementation flow started" doc:id="42764828-38c4-4477-ae31-feea398d795d" message="mf-enter-order-implementation flow started"/>
		<ee:transform doc:id="db3ac12c-c936-4acd-92be-3a1cb19afbe0" doc:name="DW SET incoming payload">
            <ee:variables >
				<ee:set-variable variableName="quoteNumber" ><![CDATA[%dw 2.0
output application/java
---
payload.body.EnterOrder_v5.quoteNumber]]></ee:set-variable>
				<ee:set-variable variableName="incomingPayload" ><![CDATA[%dw 2.0
output application/json
---
payload.body.EnterOrder_v5]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="pf-sfdc-query-quote-by-quotenumber" doc:id="e7b790fd-2d73-47f1-be0a-5d2191920c45" target="quoteQueryResponse" name="pf-sfdc-query-quote-by-quotenumber"/>
		<choice doc:name="Choice" doc:id="065cd21e-e96f-4969-8c25-70ad3d7c8b50" >
			<when expression="#[sizeOf(vars.quoteQueryResponse) &lt;= 0]">
				<logger level="INFO" doc:name="Quote Number Not Found " doc:id="ae605388-bcda-4f1f-817e-8d061ff1b491" />
				<raise-error doc:name="Raise error" doc:id="bb71ae64-c0e4-4cba-94f7-14b99a65ed81" type="ORDER:INVALID_QUOTE" description="Quote Number is invalid. Cannot create order."/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Quote Number Found " doc:id="f3c5f713-2d52-421d-9b2d-aa2e5d7e0e91" message="Quote Number = #[vars.quoteNumber] not found in the system, error"/>
				<flow-ref doc:name="pf-sfdc-query-contract" doc:id="0aa87e7e-3041-4cf8-a362-ab7e175f0041" name="pf-sfdc-query-contract" target="contractQueryResponse" />
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="fd9afae6-9562-4d41-81ee-c6883ae9d17e" >
			<when expression="#[sizeOf(vars.contractQueryResponse) &lt;= 0]">
				<logger level="INFO" doc:name="Active contract found " doc:id="b4764458-e4eb-4d22-85cc-6861a60bf648" message="Active contract found in the system, error"/>
				<raise-error doc:name="Raise error" doc:id="6ff247ab-2d4d-4fd4-85f1-9fb9e77c9317" type="ORDER:CONTRACT_NOT_FOUND" description="There are is no active contract exists in the system. Cannot create order."/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Active contract found " doc:id="b17a802b-99d3-431e-850b-7c6c64b55bca" message="Active contract found in the system , contract id = #[vars.contractQueryResponse[0].id], contract number = #[vars.contractQueryResponse[0].ContractNumber]. continue creating order"/>
				<flow-ref doc:name="pf-sfdc-create-order" doc:id="75650cf2-23ed-485d-ac03-3b9bb9ba1726" name="pf-sfdc-create-order" target="orderCreateResponse" />
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="3089c0b7-d8eb-4b7e-81bf-658afe1735a5" >
			<when expression="#[vars.orderCreateResponse[0].success ~= false]">
				<ee:transform doc:name="Transform Message" doc:id="32849fdf-9818-4421-8a70-63d0a00942a7">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/java
---
vars.orderCreateResponse[0].errors map $.message joinBy ","]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Order creation failed" doc:id="f3f014d2-ea48-4198-aec9-92deca808e09" message="Error: Order creation failed. Error Message = #[vars.errorMessage]" />
				<raise-error doc:name="Raise error" doc:id="22279ef9-54f7-48fd-a2a4-ffe56dcf4725" type="ORDER:CREATION_FAILED" description="#['Order creation failed. $(vars.errorMessage)']"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Order created successfully" doc:id="6bdf8989-b263-4137-be61-6a4ff251dbe4" message="Order created successfully, continue creating order items. Order Id = #[vars.orderCreateResponse[0].id]"/>
				<flow-ref doc:name="pf-sfdc-create-order-items" doc:id="3c083147-e147-4d9a-ac0d-a66bad65979d" name="pf-sfdc-create-order-items" target="createOrderItemsResponse" />
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="25aeeadf-d318-4974-86ba-9c85d044e27d" >
			<when expression="#[(vars.createOrderItemsResponse.*success reduce ($$ and $)) == false]">
				<ee:transform doc:name="Transform Message" doc:id="c59fe9d0-3798-4d58-b248-bc4cff9a4824">
					<ee:message>
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.orderCreateResponse[0].id]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/java
---
(flatten(vars.createOrderItemsResponse.*errors)) map $.message joinBy ","]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Order items creation failed" doc:id="4d38ba5f-ab75-4921-b5ec-b42b3494fdf4" message="Error: Order items creation failed. Error Message = #[vars.errorMessage]" />
				<async doc:name="Async" doc:id="6fc036ca-ece3-4005-9edb-d98d77bc26f6" >
					<flow-ref doc:name="Delete Order" doc:id="feab1111-b468-400f-a6c9-adcdd66c1159" name="pf-sfdc-delete-record-flow" />
				</async>
				<raise-error doc:name="Raise error" doc:id="272da7d7-7a09-4500-920a-56c3d44c26db" type="ORDER:ITEMS_CREATION_FAILED" description="#['Order creation failed. $(vars.errorMessage)']"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Order items created successfully" doc:id="d1314f03-1b68-4800-9348-d14f9908e317" message="Order items created successfully"/>
				<flow-ref doc:name="pf-sfdc-query-order" doc:id="3f039ae0-ef92-41f5-92cc-f70e784e552a" name="pf-sfdc-query-order-by-id" target="queryOrderResponse" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Order Response" doc:id="8ac2e56b-eacc-4367-b3fc-748e5f55baec" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/orderResponse.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="mf-enter-order-implementation flow ended" doc:id="c249ab1b-a86d-4f3b-9275-d08c46d1bfbd" message="mf-enter-order-implementation flow ended"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8e1f5a70-556f-4221-9b76-dd0cd1ca7c06" type="ORDER:INVALID_QUOTE, ORDER:CONTRACT_NOT_FOUND,ORDER:CREATION_FAILED">
				<ee:transform doc:name="Order Error Response" doc:id="fbd7c2c9-567a-4597-8d49-1f915e3dcedc" >
					<ee:message >
						<ee:set-payload resource="dwlScripts/orderErrorResponse.dwl" />
					</ee:message>
				</ee:transform>
			</on-error-continue>
			
		</error-handler>
	</flow>
	<flow name="mf-get-quote-implementation" doc:id="0f54b91a-6664-427e-8cf7-e21bd01057e7" >
		<logger level="INFO" doc:name="mf-get-quote-implementation flow started" doc:id="d1d811fc-5815-4536-b0ef-6632ba6bfcbf" message="mf-get-quote-implementation flow started"/>
		<ee:transform doc:name="DW SET incoming payload" doc:id="e8fa246d-9ee8-4adf-9252-207f16398935" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="actualPayload" ><![CDATA[%dw 2.0
output application/json
---
payload.body.GetQuote_v3]]></ee:set-variable>
				<ee:set-variable resource="dwlScripts/incomingPayload.dwl" variableName="incomingQuotePayload" />
				<ee:set-variable variableName="accountId" ><![CDATA[%dw 2.0
output application/json
---
p('sfdc.create.opportunity.accountid')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		 <json:validate-schema doc:name="Get Quote Request Validation" doc:id="2a9684c6-c907-49c3-9810-6d82b864e34e" schema="/schemas/getQuoteJsonSchemaValidation.json">
			<json:content ><![CDATA[#[vars.incomingQuotePayload]]]></json:content>
		</json:validate-schema> 
		<scatter-gather doc:name="Scatter-Gather" doc:id="c094da35-3e7f-4656-91c7-6c63d94638db">
			<route>
				<flow-ref doc:name="pf-sfdc-create-opportunity" doc:id="50fb06dd-37ac-4942-8ba0-3c03139045fc" name="pf-sfdc-create-opportunity" target="opportunityResponse" />
			</route>
			<route>
				<flow-ref doc:name="pf-query-pricebook-details" doc:id="95ca1c76-b73b-401a-841b-295ed3b1b0c3" name="pf-query-pricebook-details" target="priceBookEntryResponse" />
			</route>
			<route>
				<flow-ref doc:name="pf-sfdc-query-account-by-id" doc:id="5d38d4d6-5cf1-4d14-b938-8879c8c1d43e" name="pf-sfdc-query-account-by-id" target="accountResponse" />
			</route>
		</scatter-gather>
		
		<choice doc:name="Choice" doc:id="d89ead58-e668-4695-87fa-a1eb836fd650" >
			<when expression="#[(vars.opportunityResponse[0].success ~= false) or (sizeOf(vars.priceBookEntryResponse) &lt;= 0)]">
				<ee:transform doc:name="errorMessage" doc:id="b4286189-3052-4f2f-a3c3-5ceca46814a3">
					<ee:variables>
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/java
var error = if(sizeOf(vars.priceBookEntryResponse) <= 0) "PriceBookEntry Not Found. " else ""
---
 error ++ ((vars.opportunityResponse[0].errors map $.message joinBy ",") default "")]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Opportunity Creation or PriceBooK Entry Error" doc:id="2d931fb8-a00a-480c-900e-8c1bc1f60875" message="Opportunity Creation Success = #[vars.opportunityResponse[0].success], PriceBookEntry Size = #[sizeOf(vars.priceBookEntryResponse)], Error message = #[vars.errorMessage]" />
				<raise-error doc:name="QUOTE:CREATION_FAILED" doc:id="98079c47-9969-4eed-bd7e-3b1a42824615" type="QUOTE:CREATION_FAILED" description="#['Quote creation failed. $(vars.errorMessage)']"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Opportunity and PricBook Entry Steps Success" doc:id="29284f90-7a59-4f60-9c17-f4a7ac1bb913" message="Opportunity Creation Success = #[vars.opportunityResponse[0].success], PriceBookEntry Size = #[sizeOf(vars.priceBookEntryResponse)]"/>
				<flow-ref doc:name="sf-sfdc-create-quote" doc:id="14b8455e-fc28-4078-8580-52780e503cf2" name="sf-sfdc-create-quote" target="createQuoteResponse" />
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="fab81fb1-4c1d-40fe-8bb9-d46023094dce" >
			<when expression="#[(vars.createQuoteResponse[0].success == false)]">
				<async doc:name="Async" doc:id="97cff9ca-4007-4787-b308-a2b4fcfea9e5" >
					<set-payload value="#[vars.opportunityResponse[0].id]" doc:name="Set Opportunity ID" doc:id="69de3027-5ae5-47d3-93d1-325fa46006b4" />
					<flow-ref doc:name="Delete Opportunity" doc:id="c67f468c-efde-4d7e-a266-56cbad28f59e" name="pf-sfdc-delete-record-flow"/>
				</async>
				<ee:transform doc:name="Error Message" doc:id="0490adb3-7f47-4aa8-b024-bc5ad4e25a5d" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/java
---
vars.createQuoteResponse[0].errors map $.message joinBy ","]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Quote Creation Failed" doc:id="1312d7a5-47f9-4004-9c9a-8c0bf47d862a" message="Quote creation Failed. Error message = #[vars.errorMessage]"/>
				<raise-error doc:name="QUOTE:CREATION_FAILED" doc:id="6c976775-2b6e-4ea9-aa5d-cf2653bd3136" description="#['Quote creation failed. $(vars.errorMessage)']" type="QUOTE:CREATION_FAILED"/>
			</when>
			<otherwise >
				<flow-ref doc:name="sf-sfdc-create-quote-items" doc:id="0a74dee2-57ec-4cae-ba17-f53cc4101064" name="sf-sfdc-create-quote-items" target="createQuoteItemsResponse"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="4699cffd-a1f4-4947-af5e-42e68d33badb" >
			<when expression="#[(vars.createQuoteItemsResponse.*success reduce ($$ and $)) == false]">
				<ee:transform doc:name="Transform Message" doc:id="5ae289ee-2c7f-4947-98ef-4fa1590f238e">
					<ee:message>
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.createQuoteResponse[0].id]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMessage" ><![CDATA[%dw 2.0
output application/java
---
(flatten(vars.createQuoteItemsResponse.*errors)) map $.message joinBy ","]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<async doc:name="Async" doc:id="582a4144-f195-446e-abe1-f38c4fd3b9ca">
					<set-payload value="#[vars.opportunityResponse[0].id]" doc:name="Copy_of_Set Opportunity ID" doc:id="61bb8309-c77c-4864-993b-a656e849ed09" />
					<flow-ref doc:name="Delete Opportunity" doc:id="92d1aedf-2845-4a09-bcff-d4242f980744" name="pf-sfdc-delete-record-flow" />
				</async>
				<logger level="INFO" doc:name="Quote items creation failed" doc:id="80349bf3-f4c6-493d-8212-ef50b95d1c4a" message="Error: Quote items creation failed. Error Message = #[vars.errorMessage]" />
				<async doc:name="Async" doc:id="778872d6-b58a-4f0d-8668-ddd1fea88a77" >
					<flow-ref doc:name="Delete Quote" doc:id="3f3396b9-28ca-4c74-9e5d-532fb654ea3b" name="pf-sfdc-delete-record-flow" />
				
</async>
				<raise-error doc:name="QUOTE:ITEMS_CREATION_FAILED" doc:id="245a8a7d-9d45-462d-8e62-a1fa1f967492" type="QUOTE:ITEMS_CREATION_FAILED" description="#['Order creation failed. $(vars.errorMessage)']"/>
			
</when>
			<otherwise >
				<logger level="INFO" doc:name="Quote Items created successfully" doc:id="6eb48ed6-1128-4bb7-89e4-0095dc08e61c" message="Quote Items created successfully"/>
				<flow-ref doc:name="pf-sfdc-query-quote-by-id" doc:id="44e86079-f89d-4da0-9cc6-0a3f05cc595c" name="pf-sfdc-query-quote-by-id" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Final Quote Response" doc:id="bbbb632a-a4bc-4a02-8185-3bf624c11c1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml skipNullOn="true"
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
   soap#GetQuote_v3Response: {
         GetQuote_v3Result: {
            "QuoteNumber": payload[0].QuoteNumber,
            "QuoteSubtotal": payload[0].Subtotal,
            "CarrierCode": vars.incomingQuotePayload.carrierCode,
            "SvcSaturday": vars.incomingQuotePayload.svcSaturday,
            "SvcInsurance": vars.incomingQuotePayload.svcInsurance,
            "SvcHoldAtLoc": vars.incomingQuotePayload.svcHoldAtLoc,
            "SvcInside": vars.incomingQuotePayload.svcInside,
            "SvcLiftgate": vars.incomingQuotePayload.svcLiftgate,
            "SvcPod": vars.incomingQuotePayload.svcPod,
            "SvcPodAdult": vars.incomingQuotePayload.svcPodAdult,
            "freightType": vars.incomingQuotePayload.freightType,
            "freightAccountNo": vars.incomingQuotePayload.freightAccountNo,
            "Freight": vars.incomingQuotePayload.Freight default "",
            "QuoteTotal": payload[0].GrandTotal
            },
            OrderedLines: {
                OrderedLineV2: payload[0].QuoteLineItems map {
                UnitPrice: $.UnitPrice,
                Description: $.Description,
                TotalPrice: $.TotalPrice,
                'type': $."type",
                LineNumber: $.LineNumber
        
            },
            Error: {
                ErrorNumber: 0,
                ErrorDescription: ""
            }
        }
    }
    
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="mf-get-quote-implementation flow ended" doc:id="0d97ab03-2f0e-48a9-9260-ca3a88344a10" message="mf-get-quote-implementation flow ended"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2f3ffe3a-bfc1-4e34-9bf2-f64e21c60bbc" type="QUOTE:CREATION_FAILED,QUOTE:ITEMS_CREATION_FAILED">
				<ee:transform doc:name="Quote Error Response" doc:id="dddb8044-03c1-434b-9990-350faf7324dc" >
					<ee:message >
						<ee:set-payload resource="dwlScripts/quoteErrorResponse.dwl" />
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="112b3922-4468-46c7-a2f4-b1912681e039" type="JSON:SCHEMA_NOT_HONOURED">
				<ee:transform doc:name="Json Schema Validation" doc:id="1659795d-2cf7-448a-bc7a-5309d174778f" >
					<ee:message >
						<ee:set-payload resource="dwlScripts/jsonSchemaValidationErrorResponse.dwl" />
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="mf-get-advance-ship-notice-implementation" doc:id="d1a720db-e2ea-495f-aa7f-21516a3c945f" >
		<logger level="INFO" doc:name="mf-get-advance-ship-notice-implementation flow started" doc:id="0a0e8c82-8d2c-4ed8-b079-54bfce61415d" message="mf-get-advance-ship-notice-implementation flow started"/>
		<ee:transform doc:id="81fc3cd8-95f6-47c3-931c-593690a3a5f9" doc:name="DW SET incoming payload">
            <ee:variables >
				<ee:set-variable variableName="orderNumber" ><![CDATA[%dw 2.0
output application/java
---
payload.body.AdvanceShipNoticeGet_v2.orderNumber]]></ee:set-variable>
				<ee:set-variable variableName="incomingPayload" ><![CDATA[%dw 2.0
output application/json
---
payload.body.AdvanceShipNoticeGet_v2]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<flow-ref doc:name="pf-sfdc-query-shipment-by-order-by-number" doc:id="0e05b617-c1f8-4a7a-9583-72722acc9e07" name="pf-sfdc-query-shipment-by-order-by-number" target="queryShipmentResponse" />
		<ee:transform doc:name="Advance Ship Notice Response" doc:id="18b0663b-e3e6-45e4-a724-297e49e9d116" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/advanceShipNoticeResponse.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="mf-get-advance-ship-notice-implementation flow ended" doc:id="67f2ab1e-4b86-4f6b-bece-f6464f18f9e8" message="mf-get-advance-ship-notice-implementation ended"/>
	</flow>
	
	<flow name="pf-sfdc-query-contract" doc:id="9780b93f-5ed7-4434-ad09-c0439f41e10e" >
		<logger level="INFO" doc:name="pf-sfdc-query-contract flow started" doc:id="76d1c364-2c8c-4529-bee3-06df052e3f14" message="pf-sfdc-query-contract flow started"/>
		<ee:transform doc:name="Query" doc:id="d79605ed-1bc8-405a-910a-c51ff6fb23d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var todaysDate = now() as Date {format: "yyyy-MM-dd"}
---
p('sfdc.query.contract') ++ " and AccountId = '" ++ vars.quoteQueryResponse[0].AccountId ++ "' and StartDate <= " ++ todaysDate ++ " and EndDate >= " ++ todaysDate ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="pf-sfdc-query" doc:id="464d47d9-6e1d-4bee-a0fc-88709603451c" name="pf-sfdc-query"/>
		<logger level="INFO" doc:name="pf-sfdc-query-contract flow ended" doc:id="bb30d974-98a3-4938-9e91-de5786a5358f" message="pf-sfdc-query-contract flow ended"/>
	</flow>
	
	<!-- <flow name="pf-sfdc-query" doc:id="fa5af893-f550-42d7-abe3-dbda6ad4f1f8" >
		<logger level="INFO" doc:name="pf-sfdc-query flow started" doc:id="54707095-3dfc-4763-b4ab-f45288f6df74" message="pf-sfdc-query flow started"/>
		<salesforce:query doc:id="698796b6-361f-4125-87ee-2b8cd1965cab" config-ref="Salesforce_Config" doc:name="Query SFDC">
			<salesforce:salesforce-query >#[payload]</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="SFDC Query Response" doc:id="0cd0be64-0228-4858-aa9f-004642867ec8" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="pf-sfdc-query flow ended" doc:id="2905dab5-6b2e-48bd-8c28-907671981904" message="pf-sfdc-query flow ended"/>
	</flow> -->
	
	<flow name="pf-sfdc-query" doc:id="9bb7ad28-1207-4915-8137-66ee5e65bb8d" >
		<logger level="INFO" doc:name="SFDC Query against specified object" doc:id="c11e0b52-7bbe-43eb-87b8-3e6579e43a0c" message="SFDC Query against specified object : Begin , payload = #[payload]"/>
		<salesforce:query doc:name="Query against specified object" doc:id="a901c96f-121f-4a94-a180-1978745164ca" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >#[payload]</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Query Response" doc:id="6c88217c-1beb-46ef-817c-08b23f3efe62" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="SFDC Query Response" doc:id="eab2e952-0ce8-4e0e-a13a-b4cfd7038f77" message="SFDC Query Response : = #[payload]" category="DEBUG"/>
		<logger level="INFO" doc:name="SFDC Query against specified object : End" doc:id="559c7b33-9f67-4ba4-ab7e-9b961ce2abc4" message="SFDC Query against specified object : End , response size = #[sizeOf(payload)]"/>
	</flow>
	
	<flow name="pf-sfdc-create-opportunity" doc:id="02b411a1-40cd-46e1-8eec-cc0d62f202d9" >
		<ee:transform doc:name="Create Opportunity Request" doc:id="d4055ebe-cdc2-4ecd-8eac-2ebc7afc9f35" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/opportunityRequest.dwl" />
			
</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwlScripts/sfdc-opportunity-obj-properties.dwl" variableName="sfdcObj" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Create Opportunity" doc:id="8ee7f3a1-02ef-4eb1-ae7f-75a7f099026a" name="sf-sfdc-create"/>
		<ee:transform doc:name="Create Opportunity Response" doc:id="9051cca3-ac28-453a-b303-505d9487cb83" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			
</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="pf-sfdc-create-order" doc:id="ef3b8df5-c5e5-4c69-964d-5bf1216325de" >
		<ee:transform doc:name="Create Order" doc:id="d1dbdb85-7a36-449b-8a53-62610c6ba808" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/orderRequest.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwlScripts/sfdc-order-obj-properties.dwl" variableName="sfdcObj" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Create Order" doc:id="2fccb3b1-a1e2-4376-b9e6-b3253e584012" name="sf-sfdc-create"/>
		<ee:transform doc:name="Create Order Response" doc:id="8324d75f-4a9a-4e6a-923a-271f1795eac5" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			
</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="pf-sfdc-create-order-items" doc:id="c16fae58-b0ce-4cee-a6d0-855945c697bf" >
		<ee:transform doc:name="Create Order Items" doc:id="78279e1e-b839-4dd0-9c2b-b65d86352962" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/orderItemsRequest.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwlScripts/sfdc-order-items-obj-properties.dwl" variableName="sfdcObj" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Create Order Items" doc:id="ed5c2ee2-3737-4f8e-90d4-8a06bdbaeeee" name="sf-sfdc-create"/>
		<ee:transform doc:name="Create Order Response" doc:id="7cf16eb0-811b-485f-8d5d-33c4d5af106d" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="pf-sfdc-query-order-by-id" doc:id="063e335a-910b-449c-b9a2-2a34be0784ea" >
		<ee:transform doc:name="Query Order" doc:id="f77050fc-12b6-4c30-b1a5-118180155835" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/queryOrderByIdRequest.dwl" />
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Query Order" doc:id="2dbd5d13-20d6-4d19-962f-86600d19c1fd" name="pf-sfdc-query"/>
		<ee:transform doc:name="Query Order Response" doc:id="9fb20b88-f635-4546-949a-ceb2fc002c7b" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="pf-sfdc-query-account-by-id" doc:id="1e34e655-ba69-4c0d-abc8-9ae4bbdd375e" >
		<ee:transform doc:name="Query Account" doc:id="f7d627e2-838a-4b9b-94b1-c7ed415151bd" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/queryAccountByIdRequest.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Query Account" doc:id="fff0923d-c212-4631-97df-55902c0f9393" name="pf-sfdc-query"/>
		<ee:transform doc:name="Query Account Response" doc:id="7720ce66-e097-4100-a958-e09517c83527" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="pf-sfdc-query-shipment-by-order-by-number" doc:id="1d139a50-7170-4751-a059-cc407d513711" >
		<ee:transform doc:name="Query Order" doc:id="690ab55c-8cc6-4368-a693-0e62064dbcff" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/queryOrderByNumberRequest.dwl" />
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Query Order" doc:id="75b12ab5-bdbc-40a5-bd49-d94718f8b03a" name="pf-sfdc-query"/>
		<ee:transform doc:name="Query Order Response" doc:id="d06bb1d4-72cc-4453-81d7-51504107d6dd" >
			<ee:message >
				<ee:set-payload resource="dwlScripts/payloadToJson.dwl" />
			
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="pf-query-pricebook-details" doc:id="c3df168a-3701-4c17-b5b4-91ef4a97d0e6" >
		<logger level="INFO" doc:name="pf-query-pricebook-details flow started" doc:id="11d8b620-db15-4a24-a154-0b60c99445f2" message="pf-query-pricebook-details flow started"/>
		<ee:transform doc:name="PriceBook Entry Query" doc:id="de2e4804-d2b9-4f29-a342-3a63d47fd35d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var partNos = (vars.actualPayload.items.*OrderItem map ("'" ++ $.PartNo ++ "'" )) joinBy ","
---
p('sfdc.query.pricebookentry') ++ " and Product2.ProductCode IN (" ++ partNos ++ ")"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Query PriceBook Entry" doc:id="0b3382c4-94e0-45ff-b5a1-f82f1dc40d60" name="pf-sfdc-query"/>
		<logger level="INFO" doc:name="pf-query-pricebook-details flow ended" doc:id="71b9c64a-8b09-4926-987f-b270a3d09cf1" message="pf-query-pricebook-details flow ended"/>
	</flow>
	
	<flow name="pf-sfdc-delete-record-flow" doc:id="a2d0b957-ebb1-43b6-bac5-166cdbcf1886" >
		<logger level="INFO" doc:name="pf-sfdc-delete-record-flow flow started" doc:id="fce28fd2-d5d2-48fe-8f4e-a3ac2f105c80" message="pf-sfdc-delete-record-flow flow started"/>
		<salesforce:delete doc:name="Delete Sfdc Record" doc:id="eb8fd695-fb2c-4a95-b1d1-d11502b716a6" config-ref="Salesforce_Config">
			<salesforce:delete-ids ><![CDATA[#[[payload]]]]></salesforce:delete-ids>
		</salesforce:delete>
		<logger level="INFO" doc:name="pf-sfdc-delete-record-flow flow ended" doc:id="f1fc4894-e56a-4c63-b72b-37ef7da8eb6a" message="pf-sfdc-delete-record-flow flow ended"/>
	</flow>
</mule>
